/* FONTS: 
   Open-sans, Roboto, Poppins
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: all 0.8s ease-in-out;
}

.hide {
  display: none;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  background: #f0f0f0;
}
header {
    background: #232821;
    padding: 10px;
    border-bottom: 2px solid #000;
}
header img{
    width: 180px;
    display: inline-block;
    vertical-align: middle;
}

.container {
  background: #fefefe;
  padding: 50px;
  display: flex;
  height: calc(100vh - 100px);
  justify-content: center;
  align-items: center;
  width: 100%;
}
#fusion-chatboat {
    width:60%;
    text-align: center;
}
#chat-box {
  
}
#title{
    /* font-family: "Roboto", sans-serif; */
    font-weight: normal;
    font-size: 2.4em;
    margin-bottom: 30px;
}
.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 50px;
    border: 2px solid #eaeaea;
    padding: 8px;
}

.action input {
    border:none;
    padding: 8px 12px;
    outline:none;
    font-size: 1.4em;
    background-color: transparent;
}
.action input:focus{
    border-color: #d0d0d0;
    outline:none;
}
.action button {
    border-radius: 100%;
    background-color: transparent;
    outline:none;
    padding: 12px;
    border: 2px solid #fefefe;
    cursor: pointer;
    font-size: 1.4em;
    color:rgb(181, 130, 47);
}
.action button:hover {
    background-color: rgb(181, 130, 47);
    color:white;
}

.user,
.bot {
  padding: 8px;
  margin: 6px 0;
  border-radius: 4px;
}
.user {
  background: #d1e7ff;
  text-align: right;
}
.bot {
  background: rgb(255, 247, 230);
  text-align: left;
  /*font-family: "Agency FB", Sans-serif;*/
}

